/* Chat.css */

body {
  background-color: #4C3E69;
}

.full-height {
  height: 84vh;
  border: 2px solid lightgray;
  border-radius: 3px;
}

.border-right {
  border-right: 1px solid #dcdcdc;
  border: 2px solid lightgray;
  border-radius: 5px;
  background-color: #85b2c9;
}

.chat-names {
  padding: 20px;
}

.chat-name-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.messages-label {
  background-color: #007bff;
  color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px 10px;
  font-weight: bold;
  text-align: center;
}

.message-box {
  padding: 7px;
  background-color: lightsteelblue;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-form {
  margin-top: 10px;
  display: flex;
}

.message-input {
  flex: 1;
  border-radius: 10px;
  padding: 10px;
}

.send-button {
  margin-left: 10px;
  border-radius: 10px;
}
