.profile-pic{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.profile_upload{
    position: absolute;
    bottom: 0;
    color: chartreuse;
    background: white;
    cursor: pointer;
}